body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}
/*TITULOS*/
.title{
    text-align: center;
}
h1, h2, h4, h5, .nav-link {
    color: darkgreen;
}

/*BARRA NAVEGACION*/
.nav-link:hover{
    font-weight:bold;
    color: rgb(46, 125, 62);
}
.container-fluid{
    background-color: rgb(160, 189, 160);
}

/*FORMULARIO*/
.form-contacto{
    border-style:solid;
    border-radius: 5px;
    border-color: darkgreen;
    background-color: rgb(160, 188, 172);
    padding: 20px;
}
.div-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
    
}


/*IMAGENES*/
.img-people{
    width: 214px;
    height:320px;
}
.img-logo{
    width:60px;
    height:60px;
}
/*PARRAFOS*/
p{
    margin: 0px 20px;
    text-align: justify;
}

/*TARJETAS - CARDS*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 20px;
}

/*CAJAS*/
.box, .box-map{
    display: flex;
    justify-content: center;
}

.box-products, .box-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}
.box-form {
    width: 50%; 
    margin-bottom: 20px;
}

/*FOOTER*/
footer{
    margin-top: 10px;
    padding: 5px 0; 
    background-color: rgb(160, 189, 160);
    display: flex;
    justify-content: center;
}

footer p, footer a{
    color: darkgreen;
}
.icons {
    margin-right: 10px; 
}


