body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*HEADER*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: inline-block;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
nav a:visited {
    color: #96c99e;
}
.logo {
    max-width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.search-container {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
}
.search-button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.carrito-button {
    padding: 8px 15px;
    background-color: #4f6ce1;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #45a049;
}
.carrito-button:hover {
    background-color: #4848cf;
}

/**/


/*TITULOS*/
.title{
    text-align: center;
}
h1, h2, h5, .nav-link {
    color: darkgreen;
}
 .video{
    height: 500px;
 }

/*FORMULARIO*/
.form-contacto{
    border-style:solid;
    border-radius: 5px;
    border-color: darkgreen;
    background-color: rgb(160, 188, 172);
    padding: 20px;
    width: 60%;
    text-align: center; 
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}
/*CARRUSEL*/

/*IMAGENES*/
.img-people{
    width: 214px;
    height:320px;
}
.img-logo{
    width:60px;
    height:60px;
}


/*PARRAFOS*/
p{
    margin: 0px 20px;
    text-align: justify;
}

/*TARJETAS - CARDS*/
.card {
    box-shadow: 1px 1px 4px rgba(0,0,0,50%);
    transition: 0.3s;
    width: 300px;
    position: relative;
    transform: scale(0.8);
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,100%);
    transform: scale(1);
    transition: all 1s ease;
}
  
.container {
    padding: 20px;
}
.container-section{
    display: flex;
    flex-direction: column;    
}

.container-section h2{
    text-align: center;
}
.container-section p{
    text-align: justify;
    font-style: italic;
    color: rgb(91, 89, 89);
    font-size:small;
}

/*BANNER*/
.container-section-div{
    display: flex;
    flex-direction: row;
}
.caja-borde{
    border-right-color: black;
    border-right-style: solid;
}

.caja-banner h5,  .caja-banner p{
    display: block;
    font-size: medium;
}
.caja-banner {
    padding: 10px;
    margin: 10px;
}
.icono-banner{
    display: inline;
}
.caja-banner p{
    padding: 10px;
    font-size: small;
}
/*CAJAS*/
.box, .box-map{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box-products, .box-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}


/*BOTONES*/
.btn-product{
    border-radius: 5px;
    background-color: rgb(160, 189, 160);
    border-color: rgb(74, 141, 118);
}
.btn-product:hover{
    background-color: rgb(141, 189, 141);
}

/*FOOTER*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.icons {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}
.icons:hover {
    opacity: 0.7;
}
.footer-text {
    margin-top: 5px;
    color: #fff;
}

